body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    
    margin: 0;

    
   
}
.header, footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    
}

.header, footer, .box-section, .quotes, .action {
    padding: 0px 100px;
}
.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header-links {
    display: flex;
    justify-content: space-around;
}
h1 {
    font-size: 48px;
    color: #f9FAF8;
    font-weight: 1000;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header ul {
    list-style: none;
}

ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}
.header-img {
    object-fit: contain;
    max-width: 300px;
    align-self: flex-end;
    justify-self: center;
 
}
.left {
    justify-self: flex-start;
}

.info > img {
    object-fit:contain;
    width: 200px;
    
    box-shadow: 2px 1px 5px black;
    border-radius: 12px;
}
.logo {
    font-size: 24px;
    color: #f9FAF8;

}
.boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
    min-height: 250px;
}
.info {
    width: 200px;
    height: 200px;
}
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}
.action {
    background-color: #3882F6;
    padding-bottom: 20px;

}
button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    padding: 5px 0 ;
    font-weight: 900;
    border-radius: 5px;
    
}
.firstButton {
    border: none;

}
.secondButton {
    border-color:  #f9FAF8;
    border-style: solid;

}
footer {
    padding: 20px 20px 10px 20px;

}